<a href="https://colab.research.google.com/github/zeinab29/pandas/blob/main/US_Baby_Names.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [ ]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv"
baby_names = pd.read_csv(url , sep = ",")
baby_names

         Unnamed: 0       Id     Name  Year Gender State  Count
0             11349    11350     Emma  2004      F    AK     62
1             11350    11351  Madison  2004      F    AK     48
2             11351    11352   Hannah  2004      F    AK     46
3             11352    11353    Grace  2004      F    AK     44
4             11353    11354    Emily  2004      F    AK     41
...             ...      ...      ...   ...    ...   ...    ...
1016390     5647421  5647422     Seth  2014      M    WY      5
1016391     5647422  5647423  Spencer  2014      M    WY      5
1016392     5647423  5647424     Tyce  2014      M    WY      5
1016393     5647424  5647425   Victor  2014      M    WY      5
1016394     5647425  5647426   Waylon  2014      M    WY      5

[1016395 rows x 7 columns]

### Step 4. See the first 10 entries

In [ ]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [ ]:
baby_names.drop(columns=["Unnamed: 0","Id"],inplace=True)

### Step 6. Is there more male or female names in the dataset?

In [ ]:
baby_names["Gender"].value_counts()

Gender
F    558846
M    457549
Name: count, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [ ]:
names = baby_names.groupby("Name").size()
names

Name
Aaban        2
Aadan        4
Aadarsh      1
Aaden      196
Aadhav       1
          ...
Zyra         7
Zyrah        2
Zyren        1
Zyria       10
Zyriah       9
Length: 17632, dtype: int64

### Step 8. How many different names exist in the dataset?

In [ ]:
uniq = baby_names["Name"].unique()
len(uniq)

17632

### Step 9. What is the name with most occurrences?

In [ ]:
most_name = baby_names["Name"].value_counts().idxmax()
most_name

'Riley'

### Step 10. How many different names have the least occurrences?

In [ ]:
least = names.min()
num_least = (names == least).sum()
print("Number of different names with the least occurrences:",num_least)

Number of different names with the least occurrences: 3682

### Step 11. What is the median name occurrence?

In [ ]:
name_counts = baby_names["Name"].value_counts()
median_occurrence = name_counts.median()
print("The median name occurrence is:", median_occurrence)

The median name occurrence is: 8.0

### Step 12. What is the standard deviation of names?

In [ ]:
std_names = name_counts.std()
print("the standard deviation of names:", std_names)

the standard deviation of names: 122.02996350814088

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [ ]:
summary = name_counts.describe()
summary

count    17632.000000
mean        57.644907
std        122.029964
min          1.000000
25%          2.000000
50%          8.000000
75%         39.000000
max       1112.000000
Name: count, dtype: float64